@mixin warning {
	background-color: orange;
	color: white;
}


@mixin large-text {
	//basically prefix font- so you can use any properties after the prefix
	font: {
		size: 22px;
		weight: bold;
	}
}

@mixin rounded {
	border-radius: 6px;
}

@mixin box {
	@include rounded;
	border: 1px solid black;
}

@mixin fancy-links {
	a {
		font-style: italic;
		text-decoration: none;
	}
}