@import "partials/functions";
@import "partials/variables";
@import "partials/mixins";


@include google-font("Alegraya+Sans");
@include google-font("Titillium+Web");

//you can add mixin at the root level where all <a> will receive that mixin css
@include fancy-links;

body {
  font-family: sans-serif;
  color: $text-color;
  font-size: em(18px);
  @include large-screens{
  	font-size: 125%;
  }
}

h1, h2, h3, h4 {
  font-family: $text-font;
  color: $text-color;
}

h2 {
	@include large-text;
}

p {
  font-family: $text-font;
}

a {
	color: $link-color;
}

//only in ie6 will the styling be affected
@include apply-to-ie-6 {
	body {
		font-size: 125%;
	}
}

.warning-button {
	@include warning;
	padding: 8px 12px;
}

//if you have defaults setup you dont have to specify the values passed
//however, if you pass for a second argument, but the not the first one, you have to specify the explicit variable/argument name
#header {
	@include box($border: 1px solid black);
	@include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
	height: $header-height;
	background-color: $theme-color;

  #main-menu {
	
	li {
		display: inline;
	}

	a {
		color: $menu-item-color;
	}

  }
  
  #logo {

  }
}

#main {
	
	width: $content-width;
	@include large-screens {
		width: auto;
		max-width: $content-width;
	}
	margin: 0 auto;
  #content {
  	float: left;
  	width: 6*$col;
  }

  #sidebar {
  	float: right;
  	width: 2 *$col;

  	li {
  		list-style-type: none;
  		padding: em(16px) em(20px);
  		border-bottom: 1px dashed #999;

  		&:hover {
  			background-color: #efefef;
  		}
  	}
  }
}

#footer {
	height: $footer-height;
	background-color: $ternary-color;
}
